.git
.github
.hermes
.idea
.vscode
target/*
!target/job-engine-spring-0.0.1-SNAPSHOT.jar
build
HELP.md
*.iml
*.iws
*.ipr
.DS_Store
/tmp/generated-pdfs/**
!/tmp/generated-pdfs/.gitkeep
/tmp/imports/**
*.log
*.tmp
